@import "theme.scss";
@import "format.scss";
@import "input.scss";
@import "switch.scss";
@import "checkbox.scss";

label {
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
