@import "theme.scss";
@import "input.scss";
@import "switch.scss";
@import "checkbox.scss";

label {
  user-select: none;
  cursor: pointer;
  height: 1em;
  -webkit-tap-highlight-color: transparent;
}
