input:not([type="checkbox"]),
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="week"] {
  /* HACK: support pseudo element in input element for Firefox */
  -moz-appearance: initial;
  outline: none;
  padding: 4px 8px;
  height: 22px;
  border-radius: 4px;
  background: transparent;
  border: 1.4px solid rgba(var(--default-text-color), 0.5);
  transition-duration: 0.3s;
  transition-property: border-color box-shadow;
  transition-timing-function: ease-in-out;
  color: rgba(var(--default-text-color), 0.9);
  font-size: 16px;

  &:focus {
    box-shadow: 0 0 0 2px rgba(var(--primary-color), 0.2);
  }

  &:hover,
  &:focus {
    border-color: rgba(var(--primary-color), 1);
  }
}

input::-webkit-calendar-picker-indicator {
  width: 20px;
  height: 20px;
  @media (prefers-color-scheme: dark) {
    filter: invert(0.9);
  }
}

input::-webkit-datetime-edit {
  font-size: 1em;
  font-family: var(--font-family) sans-serif;
}

body[data-theme="light"] {
  input::-webkit-calendar-picker-indicator {
    filter: invert(0.2);
  }
}

body[data-theme="dark"] {
  input::-webkit-calendar-picker-indicator {
    filter: invert(0.9);
  }
}
